//Estilos
//Color Caja
$bg-colorBox1:rgb(250, 248, 235);
$bg-colorBox2:rgb(242, 249, 255);
//Margen Caja
$mg-Box: 0.5rem;
//Tamaño Margen
$mg-2r: 2rem;
//Tamaño Fuente
$ft-Si: 2rem;
//Color calendario
$bg-calendar: rgb(252, 123, 77);